<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration>
    <TaskCenter>
        <!--
        corePoolSize - the number of threads to keep in the pool, even if they are idle, unless
        allowCoreThreadTimeOut is set we can make this configurable, just set it as default value
        because want to finish this code test as soon as possible.
        -->
        <corepoolsize>3</corepoolsize>
    </TaskCenter>

    <tasks>
        <task name="CAM">
            <!-- Common task settings -->

            <taskbuilder>com.workday.codetest.gridreactive.GithubRepositoriesSearchTaskBuilder</taskbuilder>

            <workers>
                <worker name="com.zhaohaijie.NetMonitor.CamScan.PortScanWorker">
                    <taskresultprocessors>
                        <taskresultprocessor>com.zhaohaijie.NetMonitor.CamScan.PortScanResultProcessor</taskresultprocessor>
                    </taskresultprocessors>
                </worker>
            </workers>


            <scan>
                <CIDRBlock>79.97.0.0/18</CIDRBlock>
                <PortList>81</PortList>
            </scan>
        </task>
    </tasks>

</configuration>